extends layout

block content
  if title
    h1= title
    p Welcome to #{title}
  else if string
    h1 Problem 1 - Part B:
    p= string
  else if origStr && strLen
    h1 Problem 1 - Part C:
    p String: #{origStr}
    p String length: #{strLen}
  else if name
    h1 Problem 1 - Part D:
    p Name: #{name}

  form(id='name' action='/ps3' method='post')
    input(type='text', name='input1', placeholder='Input form for part C')
    br
    input(type='submit' value='Submit')




